.Sidebar {
  @apply w-full h-auto pt-6 pl-4 pr-4 overflow-y-scroll bg-black border border-b-0 border-white md:pr-16 md:w-80 rounded-t-2xl;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}
