@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .Avatar {
    @apply object-cover rounded-full cursor-pointer;
  }

  .Tooltip {
    @apply z-50 absolute w-auto p-2 m-2 text-sm text-white transition-all duration-100 scale-0 bg-gray-900 rounded-lg min-w-max;
  }

  .Badge {
    @apply flex items-center justify-center px-2 py-0.5 text-xs text-white bg-gray-800 rounded-full w-fit;
  }

  .Link {
    @apply text-gray-500 hover:text-white;
  }

  .ChatLayout {
    @apply flex flex-col flex-1 border-0.5 border-gray-500 overflow-y-scroll rounded-t-2xl border-b-0 bg-black z-10 -ml-12;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .ChatLayout::-webkit-scrollbar {
    display: none;
  }
}

@tailwind utilities;
